# Évaluation qualitative
> Comparons qualitativement les différents algorithmes en terme de qualité de prédiction

Charger les bibliothèques et les données

In [1]:
%autosave 0
%reload_ext autoreload
%autoreload 2

from data import *
import popularity
import knn
import svd
import knn_item_based
import als
from svd import *
from time import time
import pandas as pd

Autosave disabled

In [2]:
M = load_data(tiny=True)

Liste d'algorithmes à comparer

In [3]:
recommenders = [
    {"fn": lambda M_train, id_user: popularity.recommend(M_train, id_user, new=True), "label": "popularity"},
    {"fn": lambda M_train, id_user: knn.recommend(M_train, id_user, k=16, new=True), "label": "knn16"},
    {"fn": lambda M_train, id_user: knn.recommend(M_train, id_user, k=10, new=True), "label": "knn10"},
    {"fn": lambda M_train, id_user: svd.recommend(M_train, id_user, k=10, new=True), "label": "svd10"},
    {"fn": lambda M_train, id_user: svd.recommend(M_train, id_user, k=3, new=True), "label": "svd3"},
    {"fn": lambda M_train,id_user: als.recommend(M_train, id_user, new=True, k=21, n_iter=5, lambd=0.1), "label": "als21"},
    {"fn": lambda M_train,id_user: knn_item_based.recommend_item_based(M_train, id_user, new=True, k=29), "label": "knn_item_based29"}
   
    ]

Comparaison

In [4]:
# def qualitative_comparaison(M_train, user_id, recommenders):
#     # utilisateur
#     print('-- user rates --')
#     movies_id = np.where(~np.isnan(M_train[user_id, :]))[0]
#     print(pd.DataFrame({"movie": movie_title(movies_id),
#                         "rate": M_train[user_id, movies_id]}))
#     print()

#     # recommandations
#     print('-- recommendations --')
#     rec = np.zeros(len(recommenders), dtype=object)
#     computation_time = np.zeros(len(recommenders))
#     for id_rec in range(len(recommenders)):
#         ptm = time()
#         rec[id_rec] = recommenders[id_rec]['fn'](M_train, user_id)
#         computation_time[id_rec] = (time() - ptm)

#     print(pd.DataFrame({
#         "algo": [rec['label'] for rec in recommenders],
#         "recommendation": movie_title(rec),
#         "computation.time": computation_time
#         }))

In [5]:

def qualitative_comparaison(M_train, user_id, recommenders):
    # utilisateur
    movies_id = np.where(~np.isnan(M_train[user_id, :]))[0]
    user_ratings_df = pd.DataFrame({
        "movie": movie_title(movies_id),
        "rate": M_train[user_id, movies_id]
    })

    # recommandations
    rec = np.zeros(len(recommenders), dtype=object)
    computation_time = np.zeros(len(recommenders))
    for id_rec in range(len(recommenders)):
        ptm = time()
        rec[id_rec] = recommenders[id_rec]['fn'](M_train, user_id)
        computation_time[id_rec] = (time() - ptm)

    recommendations_df = pd.DataFrame({
        "algo": [rec_dict['label'] for rec_dict in recommenders],
        "recommendation": movie_title(rec),
        "computation.time": computation_time
    })

    return user_ratings_df, recommendations_df

In [6]:
user_df, rec_df = qualitative_comparaison(M, 2, recommenders)

c:\Users\SobjioLagnol(Externa\OneDrive - Majorel\Bureau\SystRecomandation\popularity.py:9: RuntimeWarning: Mean of empty slice
  scores = np.nanmean(M_train, axis=0)  # Vecteur contenant la moyenne des notes par film

In [7]:
rec_df.head(10)

               algo           recommendation  computation.time
0        popularity    Twelve Monkeys (1995)          0.000000
1             knn16    Twelve Monkeys (1995)          0.033165
2             knn10    Twelve Monkeys (1995)          0.023529
3             svd10  Mighty Aphrodite (1995)          0.009828
4              svd3              Babe (1995)          0.000000
5             als21  Mighty Aphrodite (1995)          0.133627
6  knn_item_based29         Toy Story (1995)          0.016840